.timer-heading{
    margin-top: 2%;
}
.timer-container{
    width: 80%;
    height: auto;
}

.hr-min-container{
    width: 100%;
    height: 100%;
}

.sec-container{
    width: 100%;
    height: 100%;
}
.circle{
    margin: 1% 4%;
    height: 250px;
    width: 250px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 50%;
    background-image: url(../assets/wave.svg);
    background-repeat: repeat-x;
    background-size: auto 300px;
    box-shadow:0px 0px 8px 2px rgb(72, 72, 72);
}

.wave-animation{
    animation: wave linear 10s infinite;
}

@keyframes wave {
    0% {background-position: -3148px 100px;} 
    100% {background-position: 3150px 100px;} 
}

.button-container{
    width: auto;
    padding: 2%;
    margin: 1%;
    border-radius: 20%/40%;
    box-shadow:0px 0px 8px 2px rgb(72, 72, 72);
}
.timer--button{
    border-radius: 20%/40%;
    height: 60px;
    width: 120px;
    margin: 2% 4%;
    font-size: 1.2rem;
}

.time-heading{
    font-size: 1.2rem;
}
.timer{
    margin: 1%;
    font-size: 2rem;
}

@media screen and (max-width: 650px)  {
    .circle{
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width: 450px)  {
    .hr-min-container{
       flex-direction: column;
    }
    .circle{
        height: 150px;
        width: 150px;
    }
    .timer--button{
        height: 40px;
        width: 100px;
    }
}