.display--flex{
    display: flex;
}

.flex-direction--col{
    flex-direction: column;
}

.justify-content--end{
    justify-content: end;
}

.justify-content--center{
    justify-content: center;
}

.align-items--center{
    align-items: center;
}
.toggle-container{
    width: auto;
}
.toggle-heading{
    font-size: 1rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.checkbox{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f39f21;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox:checked + .slider {
    box-shadow: 0 0 1px #2196F3;
    background-color: #2196F3;
}

.checkbox:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

  